:root {
    --blue: #0ea5e9;
    --gray: #d1d5db;
    --white: #f1f5f9;
    --orange: #f59e0b;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: inherit;
    margin: 0 15% 0 15%;
    background-color: black;
    font-family: 'roboto', sans-serif;
}

li {
    list-style-type: none;
}


.left {
    background-color: var(--blue);
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    font-weight: 600;
    color: var(--white);
}

.right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-row: 1 / 2;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 2fr ;
    margin-right: 2rem;
}

.div_search_icon {
    grid-column: 1 / 2;
    justify-self: center;
}

.search_bar {
    grid-column: 2 / 3;
    margin-top: 1rem;
}

input {
    width: 90%;
    background-color: var(--gray);
    border-style: none;
    border-radius: 1rem;
    height: 1.5rem;
}

.div_alarm_icon {
    grid-column: 3 / 4;
    justify-self: flex-end;
}

.profile_picture {
    background-image: url(pictures/profile_picture.png);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-top: 0.75rem;
}

.avatar {
    justify-self: center;
}

.name {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.flow {
    grid-row: 2 / 3;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.content {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.topics {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 2rem;
}

.top {
    grid-row: 1 / 2;
}

.bottom {
    grid-row: 2 / 3;
}

.logo {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.home {
    background-image: url(logos/home_logo.png);
}

.profile {
    background-image: url(logos/card_logo.png);
}

.messages {
    background-image: url(logos/message_logo.png);
}

.history {
    background-image: url(logos/history_logo.png);
}

.tasks {
    background-image: url(logos/tasks_logo.png);
}

.communities {
    background-image: url(logos/communities_logo.png);
}

.settings {
    background-image: url(logos/settings_logo.png);
}

.support {
    background-image: url(logos/support_logo.png);
}

.privacy {
    background-image: url(logos/privacy_logo.png);
}

.dashboardImage {
    background-image: url(logos/dashboard_logo.png);
}

.search_icon {
    background-image: url(logos/search_logo.png);
}

.alarm_icon {
    background-image: url(logos/alarm_logo.png);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    margin-right: 2rem;
    gap: 1rem;
}

.big_profile_picture {
    background-image: url(pictures/profile_picture.png);
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    justify-self: flex-end;
    align-self: center;
}

.name_complete {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top_name {
    font-weight: 600;
    font-size: 0.8rem;
    align-self: flex-end;
    margin-left: 1rem;
}

.bottom_name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.button {
    align-self: center; 
    background-color: var(--blue);
    border: none;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
}

.headline {
    margin-left: 2rem;
    align-self: center;
}

.container {
    display: grid;
    grid-template:1fr 1fr 1fr / 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.card {
    background-color: var(--white);
    border-left: 0.5rem solid var(--orange);
    border-radius: 2%;
    box-sizing: border-box;
    padding: 10% 5% 10% 5%;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.text > p {
    margin-top: 0.5rem;
}

.icons {
    justify-self: flex-end;
}

.star_icon {
    background-image: url(logos/star_logo.png);
}

.eye_icon {
    background-image: url(logos/eye_logo.png);
}

.share_icon {
    background-image: url(logos/share_logo.png);
}

.top {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.bottom {
    display: grid;
    grid-template-rows: 1fr 7fr;
    margin-bottom: 3rem;
}


.content1 {
    background-color: var(--white);
    border-radius: 2%;
    box-sizing: border-box;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.content2 {
    background-color: var(--white);
    border-radius: 2%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.headline_top, .headline_bottom {
    align-self: center;
}

.anno_text {
    font-size: 0.9rem;
    color: gray;
}

.content1 > div {
    margin-left: 1rem;
}

.content1 > div:nth-child(2) {
    border-top: 0.2rem solid gray;
    border-bottom: 0.2rem solid gray;
    border-width: thin;
    padding: 5% 0 5% 0;
}

.content1 > div > p {
    margin-top: 0.2rem;
}

.trend_text > p {
    margin-top: 0.2rem;
}

.trend_div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.picture {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.trend_text {
    margin-left: 1rem;
    margin-top: 1rem;
}

.profile_kakashi {
    background-image: url(pictures/kakashi.png);
}

.profile_grogu {
    background-image: url(pictures/grogu.png);
}

.profile_stuart {
    background-image: url(pictures/profile_picture.png);
}

.profile_dobby {
    background-image: url(pictures/dobby.png);
}

.trend_text > p {
    font-size: 0.9rem;
    color: gray;
}